<style type="text/css">
    #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        width: 100%;
    }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block. 
    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

{{ if .Site.Params.cta.enable }}
{{"<!-- Call To Action Section -->" | safeHTML}}
<section class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow text-center">
                <div class="block">
                    {{ with .Site.Params.cta.title }}
                    <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.cta.subtitle }}
                    <p>{{ . }}</p>
                    {{ end }}
                    <div class="col-lg-6 offset-lg-3">
                        <!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet"
                            type="text/css">
                        <div id="mc_embed_signup" style="background-color: transparent">
                            <form
                                action="https://tinibits.us3.list-manage.com/subscribe/post?u=8ea97f708b3985462a45e365e&amp;id=9996fb8ae2"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <input type="email" value="" name="EMAIL" id="mce-EMAIL"
                                        placeholder="email address" required class="form-control">
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input
                                            type="text" name="b_8ea97f708b3985462a45e365e_9996fb8ae2" tabindex="-1"
                                            value=""></div>
                                    <div class="clear" ><input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="btn btn-default btn-subscription"></div>
                                </div>
                            </form>
                        </div>
                        <!--End mc_embed_signup-->
                        <!-- <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-subscription" type="button">Subscribe</button>
                            </span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}