<footer style="background: #002132">
    <div class="container">
        <div style="text-align: left">
            <p style=" display: inline; text-align: right; margin-right: 16px; font-size: 16px;">&copy; 2019 TiniBits</p>
            <p style="display: inline-block; text-align: left;">
                <a href="https://tinibits.com/legal/privacy" style="margin: 8px; font-size: 16px; text-decoration: none">Privacy</a>
                <a href="https://tinibits.com/legal/terms"  style="margin: 8px; font-size: 16px; text-decoration: none">Terms</a>
            </p>
        </div>
    </div>
</footer>

{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lwtCountdown-1.0.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>

</body>

</html>